@model StandV_ti2.Models.Reparacoes

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reparacoes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.CodPostal)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculo.Marca)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gestor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gestor.CodPostal)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAvaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAvaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRepar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRepar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pecas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pecas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdReparacao" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
