@model StandV_ti2.Models.Reparacoes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reparacoes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.CodPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculo.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gestor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gestor.CodPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAvaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAvaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRepar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRepar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pecas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pecas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdReparacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
