@model StandV_ti2.Models.Reparacoes

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculo.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gestor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gestor.CodPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAvaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAvaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRepar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRepar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar para a Lista de Reparações</a>
</div>
